<div class="d-flex align-items-center">
	<form [formGroup]="form" class="inn-form" (ngSubmit)="resetPassword($event)" novalidate>
		<div class="p-4 b-bottom">
			<div class="d-flex align-items-center px-2">
				<a href="javascript:;" routerLink="/auth/login" class="btn btn-icon btn-default">
					<i class="las la-arrow-left color-gray4"></i>
				</a>
				<h6 class="text-center color-primary ml-3">{{'login.reset_password' | translate}}</h6>
			</div>
		</div>

		<div class="p-4 b-bottom">
			<div class="px-2 mb-5">
				<p class="color-gray3 mb-3">Ingresa tu nueva contraseña para ingresar a la plataforma</p>
				<div class="form-group text-center">
					<label class="color-primary">Nueva contraseña</label>
					<input type="password" placeholder="Ingrese su contraseña" formControlName="password" class="form-control">
				</div>
				<div class="form-group text-center mt-4">
					<label class="color-primary">Confirmar contraseña</label>
					<input type="password" placeholder="Confirmar contraseña" formControlName="confirm_password" class="form-control">
				</div>
				<p class="color-gray3">Enviaremos un E-mail al correo inscrito confirmando tu nueva contraseña.</p>
			</div>
		</div>

		<div class="p-4">	
			<div class="px-2">
				<div class="row my-2">
					<div class="col-md-6 pr-md-2 mb-2">
						<button type="button" 
								class="btn btn-default btn-block"
								routerLink="/auth/login">
							Volver
						</button>
					</div>
					<div class="col-md-6 pl-md-2">
						<button type="submit" 
								class="btn btn-info btn-block"
								[disabled]="form.invalid">
								Restaurar contraseña
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

