<div id="bg-login" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="column-1"></div>
            <div class="column-2"></div>
        </div>

        <div class="row">
            <div class="col-12 col-md-3 offset-md-1 pl-md-0 pt-5 pb-md-5 site-data d-flex justify-content-end">
                <div class="dashboard py-4 px-3 px-md-0">
                    <div class="mt-4">
                        <h4 style="color: white;"><span class="semibold">República de Polombia</span><br><br><small class="small">Registraduría Nacional del Estado</small> </h4>
                    </div>
                    <div class="br-welcome py-2"></div>
                    <p class="d-none d-md-block mt-md-5"></p>
                </div>
            </div>

            <div class="col-md-4 d-flex align-items-center justify-content-center">    
                    
                <form [formGroup]="form" class="inn-form" (ngSubmit)="voto($event)" novalidate>
                    <div class="p-4 b-bottom">
                        <h4 class="text-center color-primary"> Voto </h4>
                    </div>
            
                    <div class="p-4 b-bottom">
                        <div class="px-2">
                            <div class="form-group text-center">
                                <label class="color-primary txt-uppercase">Número de indentificación</label>
                                <input type="text" placeholder="Ingresa tu número de identificación" id="numero_identificacion" formControlName="numero_identificacion" class="form-control" (change)="validarVotante()">
                            </div>

                            <div *ngIf="votante">
                                <div class="form-group text-center" *ngIf="votante">
                                    <label for="tipo_voto" class="color-primary txt-uppercase">Tipo de voto </label>
                                    <select class="form-control" id="tipo_voto" formControlName="tipo_voto" aria-placeholder="Seleccionar">
                                        <option value="0" selected>Seleccionar</option>
                                        <option value="1">Cámara</option>
                                        <option value="2">Senado</option>
                                    </select>
                                    <app-validation-error [form]="form" [field]="'tipo_voto'"></app-validation-error>
                                </div>
    
                                <div class="form-group text-center" *ngIf="votante">
                                    <label for="partido_id" class="color-primary txt-uppercase">Partido</label>
                                    <select class="form-control" id="partido_id" formControlName="partido_id" aria-placeholder="Seleccionar" (change)="validarLista()">
                                        <option value="" selected>Seleccionar</option>
                                        <option value="{{partido.id}}" *ngFor="let partido of partidos">{{partido.nombre}} </option>
                                    </select>
                                    <app-validation-error [form]="form" [field]="'partido_id'"></app-validation-error>
                                </div>
    
                                <div class="form-group text-center" *ngIf="candidato_input" >
                                    <label for="candidato_id" class="color-primary txt-uppercase">Candidato</label>
                                    <select class="form-control" id="candidato_id" formControlName="candidato_id" aria-placeholder="Seleccionar">
                                        <option value="" selected>Seleccionar</option>
                                       <option value="{{candidato.id}}" *ngFor="let candidato of candidatos">{{candidato.nombre}}  {{candidato.apellido}} </option>
                                    </select>
                                </div>

                                <div class="p-4" >
                                    <div class="px-2">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-6 col-md-12 col-lg-12 mx-auto pl-md-2 order-1 order-md-2">
                                                <button type="submit" class="btn btn-info btn-block" [disabled]="form.invalid">
                                                    Votar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info btn-block mt-4" routerLink="/auth/login">
                                Regresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>