<div class="info">
    <div class="row align-items-center">
        <div class="col-lg-9 d-none d-md-block">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center b-right mr-4 pr-4">
                    <i class="las la-user color-primary fs-big mr-3"></i>
                    <p class="f-subtitle color-primary fs-normal nowrap">Empresas</p>
                </div>
                <p class="color-gray3 x-small">Estas son todos las usuarios de empresa en la plataforma, puedes crear, editar, consultar información o eliminar.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pr-md-4">
                <div class="row d-flex justify-content-md-end justify-content-between align-items-center">
                    <span class="d-md-none color-primary fs-normal"><b>18</b> entradas</span>
                    <button class="btn btn-primary btn--icon" routerLink="/admin/empresas/{{companyId}}/usuarios/nuevo">
						<i class="las la-plus fs-normal mr-2 text-white"></i> Nuevo usuario
					</button>
                </div>
                <div class="row mt-3 d-md-none">
                    <div class="searchbar show w-100">
                        <span class="las la-search"></span>
                        <input type="search" [placeholder]="placeholderSearch">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="box p-0" *ngIf="showForm">
        <div class="row my-0">
            <div class="col-12">
                <div class="row px-4 py-3 justify-content-between align-items-center">
                    <div class="col-12 col-md-6">
                        <h4 class="mt-2 color-primary">Usuarios de la empresa {{company.name}}</h4>
                    </div>
                    <div class="col-12 col-md-6 p-md-0">
                        <form [formGroup]="formSearch" class="form-group row w-100 mr-0">
                            <div class="col-12 col-lg-6 form-group mb-0">
                                <label class="col-form-label color-gray3" for="search">Buscar usuario</label>
                                <input id="search" class="form-control" type="text" formControlName="search" placeholder="Buscar en usuarios">
                            </div>
                            <div class="col-12 col-lg-6 form-group mb-0">
                                <label for="resultados-pagina" id="paginador_tabla" class="col-form-label color-gray3">Número de resultados por
						página:</label>
                                <select class="form-control" id="resultados-pagina" (change)="changeRow($event)" formControlName="rows">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 container-table px-4">

                <div class="table-responsive ">
                    <table class="table table-bordered table-striped table-bordered ">
                        <thead class="text-center ">
                            <tr>
                                <th>Nombre usuario</th>
                                <th>Correo electronico</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr *ngFor="let user of users; let i = index">
                                <td>
                                    {{user.user.name}}
                                </td>
                                <td>
                                    {{user.user.email}}
                                </td>
                                <td>
                                    {{user.user.cellphone}}
                                </td>
                                <td>
                                    {{user.user.address}}
                                </td>

                                <td>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="status-role{{i}}" class="onoffswitch-checkbox" id="status-role{{i}}" tabindex="0" [(ngModel)]="user.user.active">
                                        <label class="onoffswitch-label" for="status-role{{i}}" (click)="changeStatus(user.user.id)">
											<span class="onoffswitch-inner" ></span>
											<span class="onoffswitch-switch"></span>
										</label>
                                    </div>
                                </td>
                                <td>
                                    <a class="mr-2" routerLink="/admin/empresas/{{companyId}}/usuarios/editar/{{user.id}}" tooltip="Editar">
                                        <i class="las la-pen"></i>
                                    </a>
                                    <a href="javascript:;" class="mr-2" (click)="confirmDelete(user.id)" tooltip="Eliminar">
                                        <i class="las la-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="no-data py-4 px-2 text-center txt-gray4" *ngIf="users.length == 0">
                        No data
                    </div>
                </div>
                <div class="box--pagination py-3 px-4">
                    <span class="txt-dgold pl-2 ">Showing {{totalPages.to}} of {{totalPages.total}} records</span>
                    <nav class="navigation pagination d-flex justify-content-center " role="navigation " *ngIf="pages.length> 0">
                        <div class="nav-links ">
                            <a class="page-numbers {{page[2]}}" href="javascript:;" (click)="getPage(page[1])" [innerHTML]="page[0]" *ngFor="let page of pages"></a>
                        </div>
                    </nav>
                    <span class="txt-dgold text-right">Page {{totalPages.current_page}} of {{totalPages.last_page}}</span>
                </div>

            </div>
            <app-modal-confirm #modalConfirm [content]="confirmMessage" (onCloseModal)="onCloseModalConfirm($event)"></app-modal-confirm>